body {
  margin: 0px;
  background-color:black;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  background-image: url("https://t3.ftcdn.net/jpg/00/88/98/18/360_F_88981880_YjJManMJ6hJmKr5CZteFJAkEzXIh8mxW.jpg");
  background-size: cover;
  background-position:center;
  margin: 20px;
  border: 5px solid rgba(4, 234, 255, 0.375);
}

img {
  display: none;
}

